body{ 
    background-color: rgb(132 156 166);
    font-family:"Inconsolata, monospace";
    font-weight: 400;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}
hr {
    border: 10px solid rgb(128, 79, 0);
    border-radius: 5px;
  }